.navbar.navbar-inverse
  .container.pull-left
    .navbar-header
      %a.navbar-brand{:href => "#"}= I18n.t('layout.navigation.brand')
    %ul.nav.navbar-nav
      %li.active
        %a{:href => "/"}= I18n.t('layout.navigation.home')